---
title: Template
description: Template
---

<section class="c-project">
  <div class="c-project--container">
    <div class="c-slider">
      <ul class="gallery">
        <li><%= image_tag 'base-image.jpg' %></li>
        <!-- <li>
          <div class="c-slider--text">
            <h2>This is a test</h2>
            <p>This is some writting about this test</p>
          </div>
        </li> -->
        <li><%= image_tag 'base-image-3.jpg' %></li>
        <li><%= image_tag 'base-image-4.jpg' %></li>
      </ul>
    </div>
  </div>
</section>

<section class="c-project">
  <div class="c-project--container">
    <div class="c-slider">
      <ul class="gallery">
        <li><%= image_tag 'base-image.jpg' %></li>
        <li><%= image_tag 'base-image-2.jpg' %></li>
        <li><%= image_tag 'base-image-3.jpg' %></li>
        <li><%= image_tag 'base-image-4.jpg' %></li>
      </ul>
    </div>
  </div>
</section>

<section class="c-project">
  <div class="c-project--container">
    <div class="c-slider">
      <ul class="gallery">
        <li><%= image_tag 'base-image.jpg' %></li>
        <li><%= image_tag 'base-image-2.jpg' %></li>
        <li><%= image_tag 'base-image-3.jpg' %></li>
        <li><%= image_tag 'base-image-4.jpg' %></li>
      </ul>
    </div>
  </div>
</section>

<section class="c-project">
  <div class="c-project--container">
    <div class="c-slider">
      <ul class="gallery">
        <li><%= image_tag 'base-image.jpg' %></li>
        <li><%= image_tag 'base-image-2.jpg' %></li>
        <li><%= image_tag 'base-image-3.jpg' %></li>
        <li><%= image_tag 'base-image-4.jpg' %></li>
      </ul>
    </div>
  </div>
</section>

<section class="c-project">
  <div class="c-project--container">
    <div class="c-slider">
      <ul class="gallery">
        <li><%= image_tag 'base-image.jpg' %></li>
        <li><%= image_tag 'base-image-2.jpg' %></li>
        <li><%= image_tag 'base-image-3.jpg' %></li>
        <li><%= image_tag 'base-image-4.jpg' %></li>
      </ul>
    </div>
  </div>
</section>
